 .type-txt-x-small-sans
{
	font-family: ginto_normalregular !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 14px !important;
	letter-spacing: 0.26px !important;
	line-height: 1.26 !important;
	color: rgba(0,0,0,1) !important;
}

.type-txt-bold-x-small-sans
{
	font-family: ginto_normal_trialbold !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 14px !important;
	letter-spacing: 0.26px !important;
	line-height: 1.26 !important;
	color: rgba(0,0,0,1) !important;
}

.type-button-txt
{
	font-family: ginto_normalregular !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 16px !important;
	letter-spacing: 0.4px !important;
	color: rgba(0,0,0,1) !important;
}

.type-xs-txt-form-small-sans
{
	font-family: ginto_normalregular !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 16px !important;
	letter-spacing: 0.46px !important;
	line-height: 1.16 !important;
	color: rgba(160,160,160,1) !important;
}

.type-xs-txt-small-sans
{
	font-family: GintoNormal !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 18px !important;
	letter-spacing: 0.5px !important;
	line-height: 1.18 !important;
	color: rgba(0,0,0,1) !important;
}

.type-xs-txt-small-serif
{
	font-family: suisse_bp_serifregular !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 18px !important;
	letter-spacing: 0.2px !important;
	line-height: 1.18 !important;
	color: rgba(0,0,0,1) !important;
}

.type-xs-txt-bold-small-sans
{
	font-family: ginto_normal_trialbold !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 18px !important;
	letter-spacing: 0.5px !important;
	line-height: 1.18 !important;
	color: rgba(0,0,0,1) !important;
}

.type-txt-small-sans
{
	font-family: ginto_normalregular !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 20px !important;
	letter-spacing: 0.5px !important;
	color: rgba(0,0,0,1) !important;
}

.type-txt-form-small-sans
{
	font-family: GintoNormal !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 20px !important;
	letter-spacing: 0.5px !important;
	color: rgba(160,160,160,1) !important;
}

.type-txt-bold-small-sans
{
	font-family: ginto_normal_trialbold !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 20px !important;
	letter-spacing: 0.5px !important;
	line-height: 1.13 !important;
	color: rgba(0,0,0,1) !important;
}



.type-txt-small-serif
{
	font-family: suisse_bp_serifregular !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 20px !important;
	letter-spacing: 0.3px !important;
	line-height: 1.2 !important;
	color: rgba(0,0,0,1) !important;
}

.type-txt-small-serif p
{
	font-family: suisse_bp_serifregular !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 20px !important;
	letter-spacing: 0.3px !important;
	line-height: 1.2 !important;
	color: rgba(0,0,0,1) !important;
}
.type-xs-txt-big-sans
{
	font-family: ginto_normalregular !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 24px !important;
	letter-spacing: 0.46px !important;
	line-height: 1.11 !important;
	color: rgba(0,0,0,1) !important;
}

.type-xs-txt-big-sans strong, .type-xs-txt-big-sans b 

{
	font-family: ginto_normal_trialbold !important;
	font-weight: 400 !important;

}



.type-txt-big-sans
{
	font-family: ginto_normalregular !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 28px !important;
	letter-spacing: 0px !important;
	line-height: 1.25 !important;
	color: rgba(0,0,0,1) !important;
}

.type-txt-big-sans strong, .type-txt-big-sans b , .type-txt-big-sans p strong, .type-txt-big-sans p b

{
	font-family: ginto_normal_trialbold !important;
	font-weight: 400 !important;

}
.type-txt-big-sans p
{
	font-family: ginto_normalregular !important;
	
	font-size: 28px !important;
	letter-spacing: 0px !important;
	line-height: 1.25 !important;

}

.type-xs-tit-x-big-sans
{
	font-family: ginto_normalregular !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 35px !important;
	letter-spacing: 0px !important;
	line-height: 1.03 !important;
	color: rgba(0,0,0,1) !important;
}

.type-tit-big-sans
{
	font-family: ginto_normalregular !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 48px !important;
	letter-spacing: 0px !important;
	color: rgba(0,0,0,1) !important;
}

.type-tit-x-big-sans
{
	font-family: ginto_normalregular !important;
	font-weight: 400 !important;
	text-transform: none !important;
	font-size: 64px !important;
	letter-spacing: 0px !important;
	color: rgba(0,0,0,1) !important;
}
