div.gmw-info-window-inner.standard ul.gmw-location-meta-wrapper {
	padding: 0;
	margin: 0 0 5px;
	list-style: none;
	color: #666;
	font-size: 12px;
	border-top: 1px dotted #bbb;
	margin-top: 5px;
	padding-top: 5px;
	border-bottom: 1px dotted #bbb;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

div.gmw-info-window-inner.standard ul.gmw-location-meta-wrapper li {
	padding:0px;
	margin:0px;
	list-style:none;
	font-size:12px;
	line-height: 20px;
}

div.gmw-info-window-inner.standard ul.gmw-location-meta-wrapper li span.label {
	margin-right:3px;
	font-weight:500;
}

div.gmw-info-window-inner.standard ul.gmw-location-meta-wrapper span.title {
	display: none;
}
